@model IEnumerable<OwnerViewModel>

@{
    ViewBag.Title = "Italian club owners";
}

<div class="text-center row">
    @foreach (var owner in Model)
    {
        @* <div class="card col-4" style="width: 20rem;">
    <img class="card-img-top" style="width: 18rem;"
    src="@footballClub.LogoImageUrl" alt="Book Image">*@
        <div class="card-body">

            <h5 class="card-title mt-1">First name: @owner.FirstName</h5>
            <p class="card-title mt-1">Middle name: @owner.MiddleName</p>
            <p class="card-title mt-1">Last name: @owner.LastName</p>
            <p class="mb-0">Age: @owner.Age</p>
            <p class="mb-0">Birth date: @owner.BirthDate</p>
            <p class="mb-0">Nationality: @owner.Nationality</p>
        </div>
        @*</div>*@
    }
</div>

