@model IEnumerable<FootballClubViewModel>

@{
    ViewBag.Title = "Italian football clubs";
}

<div class="text-center row">
    <table class="table table-hover">
        <thead>
        <tr>
                <th scope="col" class="text-light">Logo</th>
            <th scope="col" class="text-light">Name</th>
                <th class="text-light"></th>
            
        </tr>
        </thead>
        <tbody>
    @foreach (var footballClub in Model)
    {

       <tr>
                <td>
                    <img style="width: 4rem;" src="@footballClub.LogoImageUrl" alt="Football Club Image">
                </td>
                <td><h5 class="text-light">@footballClub.Name</h5></td>
                    
                    <td>
                        <div class="btn-group d-flex justify-content-center">
                            @if (User?.IsInRole(RoleConstants.Admin) ?? false)
                            {
                            <div class="mb-3 text-center p-2">
                            <a asp-action="Edit" asp-area="" asp-controller="FootballClub" asp-route-id="@footballClub.Id" class="btn btn-primary">Edit</a>
                        </div>
                            }
                        <div class="mb-3 text-center p-2">
                            <a asp-action="GetOne" asp-area="" asp-controller="FootballClub" asp-route-id="@footballClub.Id" class="btn btn-success">Info</a>
                        </div>
                            @if (User?.IsInRole(RoleConstants.Admin) ?? false)
                            {
                            <div class="mb-3 text-center p-2" onclick="myFunction()">
                            <a asp-action="Delete" asp-area="" asp-controller="FootballClub" asp-route-id="@footballClub.Id" class="btn btn-danger">Delete</a>
                        </div>
                            }
                        </div>
                    </td>
       </tr>

        @*<div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@footballClub.LogoImageUrl" alt="Football Club Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@footballClub.Name</h5>
                <p class="mb-0">Nickname: @footballClub.Nickname</p>
                <p class="mb-0">Trophies: @footballClub.Trophies</p>
                <p class="mb-0">Founded year: @footballClub.FoundedYear</p>
                <p class="mb-0">Address: @footballClub.Address</p>
                <p class="mb-0">City: @footballClub.City</p>
            </div>
            <div class="mb-3">
                <a asp-action="Edit" asp-area="" asp-controller="FootballClub" asp-route-id="@footballClub.Id" class="btn btn-primary">Edit</a>
            </div>
        </div>*@

    }
    </tbody>
    </table>
</div>

@section Scripts{
    <script>
        function myFunction() {
            if (confirm('Are you sure you want to delete this?')) { return true; }
            else {
                event.stopPropagation();
                event.preventDefault();
            };
        }
    </script>
}

