@model IEnumerable<FootballClubViewModel>

@{
    ViewBag.Title = "Italian football clubs";
}

<div class="text-center row">
    @foreach (var footballClub in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@footballClub.LogoImageUrl" alt="Football Club Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@footballClub.Name</h5>
                <p class="mb-0">Nickname: @footballClub.Nickname</p>
                <p class="mb-0">Trophies: @footballClub.Trophies</p>
                <p class="mb-0">Founded year: @footballClub.FoundedYear</p>
                <p class="mb-0">Address: @footballClub.Address</p>
                <p class="mb-0">City: @footballClub.City</p>
            </div>
        </div>
    }
</div>

