@model IEnumerable<PresidentViewModel>

@{
    ViewBag.Title = "Italian club presidents";
}

<div class="text-center row">
    @foreach (var president in Model)
    {
         <div class="card col-4" style="width: 20rem;">
    <img class="card-img-top" style="width: 18rem;"
    src="@president.ImageUrl" alt="President Image">
        <div class="card-body">

            <h5 class="card-title mt-1">First name: @president.FirstName</h5>
            @*<p class="card-title mt-1">Middle name: @owner.MiddleName</p>*@
            <h5 class="card-title mt-1">Last name: @president.LastName</h5>
            <p class="mb-0">Age: @president.Age</p>
            <p class="mb-0">Birth date: @president.BirthDate</p>
            <p class="mb-0">Nationality: @president.Nationality</p>
        </div>
        </div>
    }
</div>

