@model PlayerViewModel

@{
    ViewBag.Title = "Edit Player";
}

<h2 class="text-center text-light">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="mb-3">
                <label asp-for="@Model.FirstName" class="form-label text-light">First Name</label>
                <input asp-for="@Model.FirstName" class="form-control" aria-required="true" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
           
            <div class="mb-3">
                <label asp-for="@Model.LastName" class="form-label text-light">Last Name</label>
                <input asp-for="@Model.LastName" class="form-control" aria-required="true" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label text-light">Image Url</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Age" class="form-label text-light">Age</label>
                <input asp-for="@Model.Age" class="form-control" aria-required="true" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Nationality" class="form-label text-light">Nationality</label>
                <input asp-for="@Model.Nationality" class="form-control" aria-required="true" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.BirthDate" class="form-label text-light">Birth date</label>
                <input asp-for="@Model.BirthDate" class="form-control" aria-required="true" type="date" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="@Model.MarketValue" class="form-label text-light">Market Value</label>
                <input asp-for="@Model.MarketValue" class="form-control" aria-required="true"  />
                <span asp-validation-for="MarketValue" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Position" class="form-label text-light">Position</label>
                <input asp-for="@Model.Position" class="form-control"  />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Number" class="form-label text-light">Number</label>
                <input asp-for="@Model.Number" class="form-control" aria-required="true" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ContractSignedDate" class="form-label text-light">Contract signed date</label>
                <input asp-for="@Model.ContractSignedDate" class="form-control" aria-required="true" type="date" />
                <span asp-validation-for="ContractSignedDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ContractExpiredDate" class="form-label text-light">Contract expired date</label>
                <input asp-for="@Model.ContractExpiredDate" class="form-control" aria-required="true" type="date" />
                <span asp-validation-for="ContractExpiredDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.FootballClubId" class="form-label text-light">Football club</label>
                <select asp-for="@Model.FootballClubId" class="form-control">
                    @foreach (var footballClub in Model.FootballClubs)
                    {
                        <option value="@footballClub.Id">@footballClub.Name</option>
                    }
                </select>
                <span asp-validation-for="FootballClubId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Edit" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


