@model IEnumerable<StadiumViewModel>

@{
    ViewBag.Title = "Italian stadiums";
}

<div class="text-center row">
    @foreach (var stadium in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@stadium.ImageUrl" alt="Stadium Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@stadium.Name</h5>
                <p class="mb-0">Capacity: @stadium.Capacity</p>
                <p class="mb-0">Address: @stadium.Address</p>
                <p class="mb-0">City: @stadium.City</p>
            </div>
        </div>
    }
</div>
