@model StadiumViewModel

@{
    ViewBag.Title = "";
}

<div class=" d-flex justify-content-around">
    <div class="stadium-card card ">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">
        <div class="card-body ">
            <h5 class="card-title text-center">@Model.Name</h5>
            <h6 class="card-title text-center">Capacity: @Model.Capacity</h6>
            <h6 class="card-title text-center">City: @Model.City</h6>
            <h6 class="card-title text-center">Address: @Model.Address</h6>
        </div>
       
    </div>
</div>


