@model GetFixtureViewModel

@{
    ViewBag.Title = Model.Season;
}

<div class="d-flex justify-content-center">
    <img style="width: 4rem;" src="@Model.League.LogoImageUrl" alt="League Image">
    <h2 class="text-center text-light">@ViewBag.Title</h2>
</div>
<hr />



<div class="d-flex justify-content-center">
    <div class="my-card card mb-5 text-warning">
        <div class="card-body ">
            <h5 class="card-title text-center">Season - <i>@Model.Season</i></h5>
            <h5 class="card-title text-center">Round - <i>@Model.Round</i></h5>
            <h5 class="card-title text-center">Date - <i>@Model.Date</i></h5>
            <h5 class="card-title text-center">Date - <i>@Model.Time</i></h5>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <img style="width: 4rem;" src="@Model.HomeTeam.LogoImageUrl" alt="HomeTeam Image">
    <h2 class="text-center text-light">@Model.HomeTeam.Name</h2>
    <h3 class="text-center text-light">@Model.Result</h3>
    <h2 class="text-center text-light">@Model.AwayTeam.Name</h2>
    <img style="width: 4rem;" src="@Model.AwayTeam.LogoImageUrl" alt="AwayTeam Image">
</div>

<div class="d-flex justify-content-center mb-5">
        <div class="card">
            <h3 class="card-title text-center">Stadium</h3>
            <img class="card-img-top" src="@Model.Stadium.ImageUrl" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title text-center">@Model.Stadium.Name</h5>

            </div>
            <div class="btn-group d-flex justify-content-center">
                @if (User?.IsInRole(RoleConstants.Admin) ?? false)
                {
                    <div class="mb-3 text-center p-2">
                        <a asp-action="Edit" asp-area="" asp-controller="Stadium" asp-route-id="@Model.Stadium.Id" class="btn btn-primary">Edit</a>
                    </div>
                }
                <div class="mb-3 text-center p-2">
                    <a asp-action="Info" asp-area="" asp-controller="Stadium" asp-route-id="@Model.Stadium.Id" class="btn btn-success">Info</a>
                </div>
                @if (User?.IsInRole(RoleConstants.Admin) ?? false)
                {
                    <div class="mb-3 text-center p-2" onclick="myFunction()">
                        <a asp-action="Delete" asp-area="" asp-controller="Stadium" asp-route-id="@Model.Stadium.Id" class="btn btn-danger">Delete</a>
                    </div>
                }
            </div>
        </div>

</div>


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
       
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function myFunction() {
            if (confirm('Are you sure you want to delete this?')) { return true; }
            else {
                event.stopPropagation();
                event.preventDefault();
            };
        }
    </script>
}
