@model IEnumerable<PlayerViewModel>

@{
    ViewBag.Title = "Italian club players";
}

<div class="text-center row">
    @foreach (var player in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@player.ImageUrl" alt="Player Image">
            <div class="card-body">

                <h5 class="card-title mt-1">First name: @player.FirstName</h5>
                @*<p class="card-title mt-1">Middle name: @manager.MiddleName</p>*@
                <h5 class="card-title mt-1">Last name: @player.LastName</h5>
                <p class="mb-0">Age: @player.Age</p>
                <p class="mb-0">Birth date: @player.BirthDate</p>
                <p class="mb-0">Nationality: @player.Nationality</p>
                <p class="mb-0">Position: @player.Position</p>
                <p class="mb-0">Number: @player.Number</p>
                <p class="mb-0">Market value: @player.MarketValue</p>
                @*<p class="mb-0">Salary: @manager.Salary</p>*@
                <p class="mb-0">Contract signed date: @player.ContractSignedDate</p>
                <p class="mb-0">Contract expired date: @player.ContractExpiredDate</p>
            </div>
            <div class="mb-3">
                <a asp-action="Edit" asp-area="" asp-controller="Player" asp-route-id="@player.Id" class="btn btn-primary">Edit</a>
            </div>
        </div>
    }
</div>


