@model IEnumerable<FootballClubViewModel>

@{
    ViewBag.Title = "Italian football clubs";
}

<div class="text-center row">
    @using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
           
        </p>
    }
    <table class="table table-hover">
        <thead>
        <tr>
                <th scope="col" class="text-light">Logo</th>
            <th scope="col" class="text-light">Name</th>
                <th class="text-light"></th>
            
        </tr>
        </thead>
        <tbody>
    @foreach (var footballClub in Model)
    {

       <tr>
                <td>
                    <img style="width: 4rem;" src="@footballClub.LogoImageUrl" alt="Football Club Image">
                </td>
                <td><h5 class="text-light">@footballClub.Name</h5></td>
                    
                    <td>
                        <div class="btn-group d-flex justify-content-center">
                            @if (User?.IsInRole(RoleConstants.Admin) ?? false)
                            {
                            <div class="mb-3 text-center p-2">
                            <a asp-action="Edit" asp-area="Admin" asp-controller="FootballClub" asp-route-id="@footballClub.Id" class="btn btn-primary">Edit</a>
                        </div>
                            }
                        <div class="mb-3 text-center p-2">
                                <a asp-action="GetOne" asp-area="Admin" asp-controller="FootballClub" asp-route-id="@footballClub.Id" class="btn btn-success">Info</a>
                        </div>
                            @if (User?.IsInRole(RoleConstants.Admin) ?? false)
                            {
                            <div class="mb-3 text-center p-2" onclick="myFunction()">
                                    <a asp-action="Delete" asp-area="Admin" asp-controller="FootballClub" asp-route-id="@footballClub.Id" class="btn btn-danger">Delete</a>
                        </div>
                            }
                        </div>
                    </td>
       </tr>

      

    }
    </tbody>
    </table>
</div>

@section Scripts{
    <script>
        function myFunction() {
            if (confirm('Are you sure you want to delete this?')) { return true; }
            else {
                event.stopPropagation();
                event.preventDefault();
            };
        }
    </script>
}

